.floor{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    width: 100%;
}
button{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    padding: 5px;
    cursor: pointer;
}
.floor__container{
    padding: 1rem;
    height: 100%;
    border: 1px solid darkgrey;
    font-weight: 700;
}